<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Homepage</title>
</head>
<body>
    <% include ./assets/navbar %>
    <h1>Homepage</h1>
    <br />

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, incidunt dolorum consequatur dignissimos non aspernatur ut possimus eligendi suscipit obcaecati eius. Tempore iste ratione atque, quam nihil autem laborum modi.</p>

    <br />
    <% include ./assets/footer %>
</body>
</html>