<!DOCTYPE html>
<html lang="en">
  <% include ./assets/navbarTim %>

  <body>
    <main id="main" class="main-page">
      <!--==========================
      Speaker Details Section
    ============================-->
      <section id="speakers-details" class="wow fadeIn">
        <div class="container">
          <div class="section-header">
            <h2>Tim</h2>
            <p>Anggota-anggota yang berkontribusi pada aplikasi ini.</p>
          </div>

          <div class="row">
            <div class="col-md-6">
              <img
                src="img/speakers/hasimy.jpg"
                alt="Hasimy"
                width="492"
                class="rounded-sl  img-fluid"
              />
            </div>

            <div class="col-md-6">
              <div class="details">
                <h2>Hasimy</h2>
                <div class="social">
                  <a href=""><i class="fa fa-twitter"></i></a>
                  <a href=""><i class="fa fa-facebook"></i></a>
                  <a href=""><i class="fa fa-google-plus"></i></a>
                  <a href=""><i class="fa fa-linkedin"></i></a>
                </div>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod
                  quidem voluptatem sit sequi inventore quaerat officiis iure
                  rerum beatae reprehenderit incidunt ad, dolor voluptates
                  repellat, ex magni fuga ipsa distinctio?
                </p>

                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro
                  ex nam qui accusantium dolorum, aliquid quo consequuntur ut
                  ipsa quibusdam necessitatibus maiores eos itaque. Perferendis
                  officia ipsam veritatis modi doloremque.
                </p>

                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil
                  voluptas, non beatae dolorum aliquid est aut soluta
                  consequuntur ipsa rerum voluptate iusto laboriosam! Esse porro
                  illo aliquid consequuntur placeat! Possimus.
                </p>
              </div>
            </div>
          </div>

          <br /><br /><br />

          <div class="row">
            <div class="col-md-6">
              <img
                style="border-radius: 50%;"
                src="img/speakers/adryan.jpg"
                width="492"
                alt="Adryan"
                class="rounded img-fluid"
              />
            </div>

            <div class="col-md-6">
              <div class="details">
                <h2>Adryan</h2>
                <div class="social">
                  <a href=""><i class="fa fa-twitter"></i></a>
                  <a href=""><i class="fa fa-facebook"></i></a>
                  <a href=""><i class="fa fa-google-plus"></i></a>
                  <a href=""><i class="fa fa-linkedin"></i></a>
                </div>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Porro, quibusdam. Aliquam voluptate atque quod dolore cum
                  impedit saepe cumque sequi nisi, vitae alias consectetur
                  aperiam molestiae consequatur. Natus, aperiam obcaecati!
                </p>

                <p>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                  Rerum assumenda odit voluptates ducimus reiciendis obcaecati
                  dolores deserunt. Ipsa quod, aliquid dolorem modi nisi soluta
                  facilis veritatis incidunt error sit temporibus!
                </p>

                <p>
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                  Soluta possimus quos deserunt, delectus ullam corporis
                  quibusdam obcaecati alias consequatur temporibus deleniti
                  error tempore quod reprehenderit fugiat aliquam. Tempora, nam
                  sint!
                </p>
              </div>
            </div>
          </div>
          <br /><br /><br />
          <div class="row">
            <div class="col-md-6">
              <img
                src="img/speakers/nanda.jpg"
                width="492"
                alt="Nanda"
                class="rounded img-fluid"
              />
            </div>

            <div class="col-md-6">
              <div class="details">
                <h2>Nanda</h2>
                <div class="social">
                  <a href=""><i class="fa fa-twitter"></i></a>
                  <a href=""><i class="fa fa-facebook"></i></a>
                  <a href=""><i class="fa fa-google-plus"></i></a>
                  <a href=""><i class="fa fa-linkedin"></i></a>
                </div>
                <p>
                  Voluptatem perferendis sed assumenda voluptatibus. Laudantium
                  molestiae sint. Doloremque odio dolore dolore sit. Quae labore
                  alias ea omnis ex expedita sapiente molestias atque. Optio
                  voluptas et.
                </p>

                <p>
                  Aboriosam inventore dolorem inventore nam est esse. Aperiam
                  voluptatem nisi molestias laborum ut. Porro dignissimos eum.
                  Tempore dolores minus unde est voluptatum incidunt ut aperiam.
                </p>

                <p>
                  Et dolore blanditiis officiis non quod id possimus. Optio non
                  commodi alias sint culpa sapiente nihil ipsa magnam. Qui eum
                  alias provident omnis incidunt aut. Eius et officia corrupti
                  omnis error vel quia omnis velit. In qui debitis autem aperiam
                  voluptates unde sunt et facilis.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <% include ./assets/footer %><% include ./assets/javascript %>
  </body>
</html>
