<script>
        var today = new Date();
        var date = today.getFullYear();
    </script>

<footer>
    <a>Copyright <script>document.write(date);</script> - Audit-In</a><br />
    <a>SMK Telkom Malang</a>
</footer>