<head>
  <meta charset="utf-8" />
  <title>Aplikasi Audit-In</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <meta content="" name="keywords" />
  <meta content="" name="description" />

  <link href="img/favicon.png" rel="icon" />
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon" />

  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800"
    rel="stylesheet"
  />

  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
  <link href="lib/animate/animate.min.css" rel="stylesheet" />
  <link href="lib/venobox/venobox.css" rel="stylesheet" />
  <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />

  <link href="css/style.css" rel="stylesheet" />
</head>

<body>
  <header id="header">
    <div class="container">
      <div id="logo" class="pull-left">
        <h1><a href="#main">Audit<span>-</span>In</a></h1>
        <!-- <a href="#intro" class="scrollto"><img src="img/logo.png" alt="" title=""></a> -->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li><a href="/">Beranda</a></li>
          <li class="menu-active"><a href="/bantuan">Bantuan</a></li>
          <li><a href="/aula">Daftar Aula</a></li>
          <li><a href="/kerjasama">Kerjasama</a></li>
          <li><a href="/testimoni">Testimoni</a></li>
          <li><a href="/tim">Tim</a></li>
          <li class="sewa"><a href="#sewa">Sewa!</a></li>
        </ul>
      </nav>
    </div>
  </header>
</body>
